body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0b1220;
    color:white;
}
header{
    display:flex;
    justify-content:space-between;
    background:#111827;
    padding:12px 20px;
}
.container{
    display:flex;
    gap:20px;
    padding:20px;
    flex-wrap:wrap;
}
.card{
    background:#1f2937;
    padding:20px;
    border-radius:12px;
    flex:1 1 350px;
}
input, select, textarea{
    width:100%;
    padding:10px;
    border-radius:8px;
    border:1px solid #374151;
    background:#111827;
    color:white;
    margin-bottom:10px;
}
textarea{
    min-height:150px;
    resize:vertical;
}
.blue-btn{
    width:100%;
    padding:12px;
    background:#0284c7;
    border:none;
    color:white;
    border-radius:8px;
    margin-top:10px;
}
.row{
    display:flex;
    gap:10px;
}
.ecbBox{
    background:#0f172a;
    padding:10px;
    border:1px solid #1e293b;
    border-radius:8px;
    margin:10px 0;
}
.checkbox-box label{
    margin:5px 0;
}
